:root {
  --foreground: #dcd7ba;
  --dark-foreground: #c8c093;
  --darkest-foreground: #54546d;
  --dark-background: #16161D;
  --background: #1f1f28;
  --light-background: #2a2a37;
  --accent-1: #658594;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #E6C384;
}
h2::before {
  content: '# ';

}

h3 {
  color: #76946A;
}
h3::before {
  content: '## ';

}

h4 {
  color: #658594;
}
h4::before {
  content: '### ';

}

strong {
  color: #c8c093
}

body {
  font-family: Fira Code, monospace;
  background-color: var(--background);
  color: var(--foreground);
}


.vim-layout {
  display: flex;
  align-items: flex-start;
}

.tilde-gutter {
  padding: 0 10px 0 10px;
  text-align: left;
  user-select: none;
  white-space: pre;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  width: 100%;
}

#hello {
  color: #76946A;
  font-weight: 900;
}

a:link {
  color: #7fb4ca;
}

a:visited {
  color: #957fb8;
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: var(--foreground);
  animation: blink 2s steps(2, start) infinite;
  font-size: small;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

#me-img {
  display: block;
  width: 30%;
  border-radius: 2px;
  box-shadow: 0px 0px 5px var(--dark-background);
  margin-right: 10px;
  float: left;
}

footer {
  font-size: x-small;
  background-color: var(--background);
  color: var(--foreground);
  text-align: center;
  padding: 20px;
}
